h1 {color: #ffffff;}

#startButtons {
	width: 300px;
	text-align: center;
	margin-left: 250px;
	margin-top: -400px;
}

#background {
	background-color: #ff0000;
	background-repeat: no-repeat;
	width: 800px;
	height: 500px;
	margin-top: -10px;
	margin-left: -10px;
}

#chatBox {
	border: 2px solid black;
	border-radius: 25px;
	background-color: #ffffff;
	padding: 10px;
	width: 690px;
	height: 100px;
	margin-left: 40px;
	margin-top: -150px;
}

#nextBackButton {
	margin-top: -40px;
	margin-left: 640px;
}
